# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Build output
dist/
build/

# Logs
logs
*.log
logs/*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db
